#fonforMoscow{
    position: absolute;
    top: 0px;
    width: 1080px;
    height: 1920px;
    right: 0px;
    background-color: #c76e9a;
}
/*#plastinsmenu{*/
/*    position: absolute;*/
/*    width: 90%;*/
/*    height: 50%;*/
/*    top: 45%;*/
/*    margin: 5%;*/
/*    columns: 3 auto;*/
/*}*/
/*#plastin1{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 25%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin2{*/
/*    background-color: #AA90C4;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 25%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin3{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 25%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin4{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 60%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin5{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 15%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin6{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 20%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin7{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 45%;*/
/*    margin-bottom: 5%;*/
/*}*/
/*#plastin8{*/
/*    background-color: #EBC200;*/
/*    list-style: none;*/
/*    width: 100%;*/
/*    height: 10%;*/
/*}*/