#Button3D1typeloc{
    position: absolute;
    top: 0px;
    width: 1080px;
    height: 1920px;
}
#Button3D1type1{
    fill: #f8f8f6;
}
#Button3D1type2{
    fill: #cddfe9;
}
#Button3D1type3{
    fill: #a3c6db;
}
#Button3D1type4{
    fill: #78adce;
}