#Button3D2typeloc{
    position: absolute;
    top: 550px;
    left: 150px;
    width: 780px;
    height: 1520px;
}

#Button3D2type1{
    fill: #dcd8ea;
}
#Button3D2type2{
    fill: #cac1de;
}
#Button3D2type3{
    fill: #b7a9d1;
}
#Button3D2type4{
    fill: #a592c5;
}