
#text1 {
    background-color: #EBC200;
    font-size: 70px;
    color: indigo;
    top: 1500px;
    left: 800px;
    position: absolute;
}
@media screen{
    #fon1 {
        background:radial-gradient(yellow,#61dafb);;
        height: 100%;
        width: 100%;
    }
}
@media screen and (orientation: portrait) and (min-width: 1000px) and (min-height: 1900px){
        body{
            background-color: #61dafb;

        }
        #fon1{
            background:radial-gradient(yellow, #61dafb);
            width: 900px;
            height: 900px;
            position: absolute;
            margin-top: 200px ;
            margin-left: 90px;
        }
        #but1 {
            background-color: darkslateblue;
            position: absolute;
            width: 400px;
            height: 300px;
            top: 1000px;
            right: 500px;
        }
        #but2{
            background-color: darkslateblue;
            position: absolute;
            width: 400px;
            height: 300px;
            top: 1000px;
            right: 10px;
        }
        #but3{
            background-color: darkslateblue;
            position: absolute;
            width: 400px;
            height: 300px;
            top: 1350px;
            right: 500px;
        }
        #but4{
            background-color: darkslateblue;
            position: absolute;
            width: 400px;
            height: 300px;
            top: 1350px;
            right: 10px;
        }
        #ellipse1{
            height: 400px;
            width: 300px;
        }
        #ellipse3{
            position: absolute;
            top: 400px;
            right: 250px;
            width: 300px;
            height: 300px;
        }
        #ellipse2{
            position: absolute;
            height: 400px;
            width: 300px;
            left: 600px;
        }

}
@media screen and (orientation: landscape) and (min-width: 1200px) and (min-height: 600px){
    body{
        background-color: #61dafb;
        /*color: #61dafb;*/
    }
    #fon1{
        background:radial-gradient(yellow, #61dafb);
        width: 500px;
        height: 500px;
        position: absolute;
        margin-top: 50px ;
        margin-left: 340px;
    }
    #ellipse1{
        height: 250px;
        width: 200px;
    }
    #ellipse3{
        position: absolute;
        top: 200px;
        left: 190px;
        width: 170px;
        height: 200px;
    }
    #ellipse2{
        position: absolute;
        height: 250px;
        width: 200px;
        left: 300px;

    }
    #but1 {
        background-color: darkslateblue;
        position: absolute;
        width: 300px;
        height: 200px;
        top: 0px;
        right: 520px;
    }
    #but2{
        background-color: darkslateblue;
        position: absolute;
        width: 300px;
        height: 200px;
        top: 300px;
        right: 520px;
    }
    #but3{
        background-color: darkslateblue;
        position: absolute;
        width: 300px;
        height: 200px;
        top: 0px;
        left: 530px;
    }
    #but4{
        background-color: darkslateblue;
        position: absolute;
        width: 300px;
        height: 200px;
        top: 300px;
        left: 530px;
    }

}