#fonforHello{
    position: absolute;
    top: 0px;
    width: 1080px;
    height: 1920px;
    right: 0px;
    background-color: white;
    background-image: linear-gradient(112deg,#96BCD6,#A592C5);
}
#text1forHello{
    position: absolute;
    top: 300px;
    left: 550px;
    width: 420px;
    height: 450px;
}
#inputHello{
    position: absolute;
    height: 100px;
    width: 1000px;
    font-size: 50px;
    font-family: "PT Sans";
    font-weight: bold;
    border: solid;
    border-color: #AA90C4;
    border-width: 15px;
    border-radius: 30px;
    top: 1700px;
    right:40px;
}
#inputHello::placeholder{
    font-size: 34px;
    color: #AA90C4;
    font-family: "PT Sans";
    font-weight: bold;
}
.formessages{
    position: absolute;
    width: 800px;
    height: 150px;
    top: 1300px;
    left: 100px;
}
.foranswers{
    position: absolute;
    width: 800px;
    height: 150px;
    top: 1500px;
    left: 150px;
}