#landforinf2{
    position: absolute;
    top: 500px;
    width: 600px;
    height: 300px;
    rotate: -15deg;
    left: 600px;
}
.el1{
    fill:#F5BC07;
}
#strl2{
    position: absolute;
    width: 300px;
    rotate: -30deg;
    top: 630px;
    left: 700px;
    font-size: 50px;
}