#plyamweather {
    fill: #F5BC07;
}
#plyamweatherloc{
    position: absolute;
    top: 800px;
    width: 700px;
    height: 350px;
    left: 400px



























































;
}