#fonforcomponent2{
    position: absolute;
    background-color: #AA90C4;
    width: 1080px;
    height: 1920px;
    top: 0px;
    right: 0px;
}
#facecomponent2{
    position: absolute;
    top: 700px;
}
#bluecircleloc1{
    position: absolute;
    top: 250px;
    left: 150px;

}
#bluecircleloc2{
    position: absolute;
    top: 450px;
    left: 575px;
}
#grad1component2loc{
    position: absolute;
    top: 1200px;
}
#bluecircleloc3{
    position: absolute;
    top:750px;
    left: 750px;
}
#text1component2{
    position: absolute;
    top: 350px;
    left: 150px;
    width: 500px;
    height: 130px;
}
#text2component2{
    position: absolute;
    top: 480px;
    left: 590px;
    width: 300px;
    height: 300px;
}
#photocomponent2{
    position: absolute;
    width: 13%;
    top: 25%;
    left: 20%;
}
#BackforComponent2{
    position: absolute;
    top: 85%;
    width: 20%;
    height: 8%;
    left: 5%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, 0.5);
}
#linkbackComponent2{
    position: absolute;
    font-size: 55px;
    text-decoration:none;
    font-family: "PT Sans";
    font-weight: bold;
    color: #AA90C4;
    top: 0%;
    left: 3%;
}