#scores{
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 20px;

    width: 200px;
    height: 100px;
    font-size: 80px;
    font-family: "PT Sans";
    color: #fffffe;
    font-weight: bold;
}
#BackforFlappy{
    position: absolute;
    top: 85%;
    width: 20%;
    height: 8%;
    left: 5%;
    background-color: forestgreen;
    border-radius: 30px;
    box-shadow: 12px 12px 5px 0px rgba(0, 0, 0, 0.5);
}
#linkbackFlappy{
    position: absolute;
    font-size: 55px;
    text-decoration:none;
    font-family: "PT Sans";
    font-weight: bold;
    color: white;
    top: 0%;
    left: 3%;
}